<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">University Forum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/posts">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/profile">Profile</a>
            </li>
            <li class="nav-item">
                <form action="/auth/logout" method="post" class="form-inline">
                    <button type="submit" class="btn btn-link nav-link" style="border: none; cursor: pointer;">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h2>Profile</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="/users/update" method="post">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="<%= user.firstName %>" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="<%= user.lastName %>" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required readonly>
                </div>
                <div class="form-group">
                    <label for="university">University</label>
                    <select class="form-control" id="university" name="universityId" required>
                        <option value="" <%= !user.universityId ? 'selected' : '' %>>Select University</option>
                        <% universities.forEach(university => { %>
                            <option value="<%= university.id %>" <%= university.id === user.universityId ? 'selected' : '' %>><%= university.name %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dorm">Dorm</label>
                    <select class="form-control" id="dorm" name="dormId" required>
                        <option value="" <%= !user.dormId ? 'selected' : '' %>>Select Dorm</option>
                        <% dorms.forEach(dorm => { %>
                            <option value="<%= dorm.id %>" <%= dorm.id === user.dormId ? 'selected' : '' %>><%= dorm.name %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="studyField">Field of Study</label>
                    <select class="form-control" id="studyField" name="studyFieldId" required>
                        <option value="" <%= !user.studyFieldId ? 'selected' : '' %>>Select Field of Study</option>
                        <% studyFields.forEach(studyField => { %>
                            <option value="<%= studyField.id %>" <%= studyField.id === user.studyFieldId ? 'selected' : '' %>><%= studyField.name %></option>
                        <% }) %>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
        <div class="col-md-6">
            <h3 class="mt-5">Your Posts</h3>
            <% if (posts.length > 0) { %>
                <ul class="list-group">
                    <% posts.forEach(post => { %>
                        <li class="list-group-item">
                            <h5><a href="/posts/<%= post.id %>"><%= post.title %></a></h5>
                            <p><%= post.content %></p>
                            <small>Category: <%= post.Category.name %></small>
                            <br>
                            <small>Posted on: <%= new Date(post.createdAt).toLocaleString() %></small>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>You have no posts yet. <a href="/posts/create">Create your first post</a></p>
            <% } %>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#university').change(function () {
            var universityId = $(this).val();
            $('#dorm').html('<option value="">Loading...</option>');
            $.get('/auth/dorms/' + universityId, function (data) {
                var dormOptions = '<option value="">Select Dorm</option>';
                data.forEach(function (dorm) {
                    dormOptions += '<option value="' + dorm.id + '">' + dorm.name + '</option>';
                });
                $('#dorm').html(dormOptions);
            });
        });
    });
</script>
</body>
</html>
